Software Heritage, l’Archivio Universale dei Codici - Divagazioni sul tema 15.00-16:45 - ​momento formativo, rivolto a un pubblico più esperto e di studenti (Università e ​​Scuole Superiori), con due seminari • Codes are changing the world - Historical
and philosophical reflections (Liesbeth De Mol, CNRS Lille) • Open source – open archive: una questione di democrazia (Roberto Di Cosmo) 17:20-19:15 - momento di carattere divulgativo per un pubblico ampio, con un incontro/dibattito ​​sui temi: • Cos’è
un codice sorgente (Simone Martini) • Cultural Heritage - dagli oggetti materiali alla immaterialità e al software: come cambia l’idea di archivio (Stefano Allegrezza & Roberto Di Cosmo) Wednesday, 16th March 2022 ​​​​ 15:00 • Event opening - Greetings
from institutions 15:15 • Codes are changing the world - Historical and philosophical reflections (Liesbeth De Mol, CNRS Lille) 16:00 • Open source – open archive: una questione di democrazia (Roberto Di Cosmo) ​​16:45 - 17:15 Break 17:15 • Welcome back
17:30 • Cos’è un codice sorgente? (Simone Martini) 18:15 • Cultural Heritage - dagli oggetti materiali alla immaterialità e al software: come cambia l’idea di archivio (Stefano Allegrezza & Roberto Di Cosmo) 19:00 • Contest/survey results 19:15 END Wednesday,
16th March 2022 ​​​​ 15:00 • Event opening - Greetings from institutions 15:15 • Codes are changing the world - Historical and philosophical reflections (Liesbeth De Mol, CNRS Lille) 16:00 • Open source – open archive: una questione di democrazia (Roberto
Di Cosmo) ​​16:45 - 17:15 Break 17:15 • Welcome back 17:30 • Cos’è un codice sorgente? (Simone Martini) 18:15 • Cultural Heritage - dagli oggetti materiali alla immaterialità e al software: come cambia l’idea di archivio (Stefano Allegrezza & Roberto
Di Cosmo) 19:00 • Contest/survey results 19:15 END


<table class="table table-responsive-sm table-hover text-center small detailed-program">
    <thead>
        <tr>
            <th scope="row" class="small"></th>
            <th scope="col">Mon. 7th</th>
            <th scope="col">Tue. 8th</th>
            <th scope="col">Wed. 9th</th>
            <th scope="col">Thu. 10th</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row" class="small">10:30&ndash;11:00</th>
            <td class="text-info"><strong>Opening<br /><a class="small" href="https://us02web.zoom.us/j/81221846281?pwd=ZVBKTlhzZkZXOXRaZjA3dU9zY0NYZz09">Join Zoom Meeting</a></strong></td>
            <td class="text-info"><strong>Opening<br /><a class="small" href="https://us02web.zoom.us/j/86542328968?pwd=U0k0M2hLUGJHME1BcjlLdCsza2ljdz09">Join Zoom Meeting</a></strong></td>
            <td class="text-normal"><span class="microservices"><a href="https://us02web.zoom.us/j/86014911483?pwd=WW1UWFRPaWF3VVc2c0RRdHBFam1Gdz09" title="Join Zoom Meeting">M</a></span></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row" class="small">11:00&ndash;11:30</th>
            <td class="text-normal"><span class="lopstr"><a href="https://us02web.zoom.us/j/84882509637?pwd=d0VJeS9vR0dpc0FxZTZDUDgzcTlkdz09" title="Join Zoom Meeting">L</a></span> <span class="wflp"><a href="https://us02web.zoom.us/j/83049802627?pwd=ZVpIOXpKaVRoQjQ0NDd0bkxWUDFBZz09" title="Join Zoom Meeting">W</a></span></td>
            <td class="text-normal"><span class="lopstr"><a href="https://us02web.zoom.us/j/85366847417?pwd=dGN4RW12aDgvOHZjMzBTQlQrUGhEdz09" title="Join Zoom Meeting">L</a></span> <span class="ppdp"><a href="https://us02web.zoom.us/j/86767609272?pwd=VG4wL3VFQ2phdnphUGRiaHhEbWVEdz09" title="Join Zoom Meeting">P</a></span>                <span class="microservices"><a href="https://us02web.zoom.us/j/89239568074?pwd=N1B0RWJCMmJaQnlWRkhpSWhYbktiQT09" title="Join Zoom Meeting">M</a></span></td>
            <td class="text-normal"><span class="lopstr"><a href="https://us02web.zoom.us/j/83482470471?pwd=Y1NRVXdoSVVvcjYxRjV6K0NKYUlWQT09" title="Join Zoom Meeting">L</a></span> <span class="ppdp"><a href="https://us02web.zoom.us/j/81399935888?pwd=K01uaFQ5WWI1MHdSNUhkVjJhZWorUT09" title="Join Zoom Meeting">P</a></span>                <span class="microservices"><a href="https://us02web.zoom.us/j/86014911483?pwd=WW1UWFRPaWF3VVc2c0RRdHBFam1Gdz09" title="Join Zoom Meeting">M</a></span></td>
            <td class="text-normal"><span class="ppdp"><a href="https://us02web.zoom.us/j/88941123167?pwd=dDBnRS8vZVhtNkJ2aXB5MXdMNHhXZz09" title="Join Zoom Meeting">P</a></span> <span class="microservices"><a href="https://us02web.zoom.us/j/85692687858?pwd=bDljemJ4aEZJYnJZRlVCTy8xd29PUT09" title="Join Zoom Meeting">M</a></span></td>
        </tr>
        <tr>
            <th scope="row" class="small">11:30&ndash;12:00</th>
            <td class="text-normal"><span class="lopstr"><a href="https://us02web.zoom.us/j/84882509637?pwd=d0VJeS9vR0dpc0FxZTZDUDgzcTlkdz09" title="Join Zoom Meeting">L</a></span> <span class="wflp"><a href="https://us02web.zoom.us/j/83049802627?pwd=ZVpIOXpKaVRoQjQ0NDd0bkxWUDFBZz09" title="Join Zoom Meeting">W</a></span></td>
            <td class="text-normal"><span class="lopstr"><a href="https://us02web.zoom.us/j/85366847417?pwd=dGN4RW12aDgvOHZjMzBTQlQrUGhEdz09" title="Join Zoom Meeting">L</a></span> <span class="ppdp"><a href="https://us02web.zoom.us/j/86767609272?pwd=VG4wL3VFQ2phdnphUGRiaHhEbWVEdz09" title="Join Zoom Meeting">P</a></span>                <span class="microservices"><a href="https://us02web.zoom.us/j/89239568074?pwd=N1B0RWJCMmJaQnlWRkhpSWhYbktiQT09" title="Join Zoom Meeting">M</a></span></td>
            <td class="text-normal"><span class="lopstr"><a href="https://us02web.zoom.us/j/83482470471?pwd=Y1NRVXdoSVVvcjYxRjV6K0NKYUlWQT09" title="Join Zoom Meeting">L</a></span> <span class="ppdp"><a href="https://us02web.zoom.us/j/81399935888?pwd=K01uaFQ5WWI1MHdSNUhkVjJhZWorUT09" title="Join Zoom Meeting">P</a></span>                <span class="microservices"><a href="https://us02web.zoom.us/j/86014911483?pwd=WW1UWFRPaWF3VVc2c0RRdHBFam1Gdz09" title="Join Zoom Meeting">M</a></span></td>
            <td class="text-normal"><span class="ppdp"><a href="https://us02web.zoom.us/j/88941123167?pwd=dDBnRS8vZVhtNkJ2aXB5MXdMNHhXZz09" title="Join Zoom Meeting">P</a></span> <span class="microservices"><a href="https://us02web.zoom.us/j/85692687858?pwd=bDljemJ4aEZJYnJZRlVCTy8xd29PUT09" title="Join Zoom Meeting">M</a></span></td>
        </tr>
        <tr>
            <th scope="row" class="small">12:00&ndash;12:30</th>
            <td class="text-normal"><span class="lopstr"><a href="https://us02web.zoom.us/j/84882509637?pwd=d0VJeS9vR0dpc0FxZTZDUDgzcTlkdz09" title="Join Zoom Meeting">L</a></span> <span class="wflp"><a href="https://us02web.zoom.us/j/83049802627?pwd=ZVpIOXpKaVRoQjQ0NDd0bkxWUDFBZz09" title="Join Zoom Meeting">W</a></span></td>
            <td class="text-normal"><span class="lopstr"><a href="https://us02web.zoom.us/j/85366847417?pwd=dGN4RW12aDgvOHZjMzBTQlQrUGhEdz09" title="Join Zoom Meeting">L</a></span> <span class="ppdp"><a href="https://us02web.zoom.us/j/86767609272?pwd=VG4wL3VFQ2phdnphUGRiaHhEbWVEdz09" title="Join Zoom Meeting">P</a></span>                <span class="microservices"><a href="https://us02web.zoom.us/j/89239568074?pwd=N1B0RWJCMmJaQnlWRkhpSWhYbktiQT09" title="Join Zoom Meeting">M</a></span></td>
            <td class="text-normal"><span class="lopstr"><a href="https://us02web.zoom.us/j/83482470471?pwd=Y1NRVXdoSVVvcjYxRjV6K0NKYUlWQT09" title="Join Zoom Meeting">L</a></span> <span class="ppdp"><a href="https://us02web.zoom.us/j/81399935888?pwd=K01uaFQ5WWI1MHdSNUhkVjJhZWorUT09" title="Join Zoom Meeting">P</a></span>                <span class="microservices"><a href="https://us02web.zoom.us/j/86014911483?pwd=WW1UWFRPaWF3VVc2c0RRdHBFam1Gdz09" title="Join Zoom Meeting">M</a></span></td>
            <td class="text-normal"><span class="ppdp"><a href="https://us02web.zoom.us/j/88941123167?pwd=dDBnRS8vZVhtNkJ2aXB5MXdMNHhXZz09" title="Join Zoom Meeting">P</a></span> <span class="microservices"><a href="https://us02web.zoom.us/j/85692687858?pwd=bDljemJ4aEZJYnJZRlVCTy8xd29PUT09" title="Join Zoom Meeting">M</a></span></td>
        </tr>
        <tr>
            <th scope="row" class="small">12:30&ndash;13:00</th>
            <td class="text-muted"><i class="fas fa-utensils"></i> Lunch break</td>
            <td class="text-muted"><i class="fas fa-utensils"></i> Lunch break</td>
            <td class="text-muted"><i class="fas fa-utensils"></i> Lunch break</td>
            <td class="text-muted"><i class="fas fa-utensils"></i> Lunch break</td>
        </tr>
        <tr>
            <th scope="row" class="small">13:00&ndash;13:30</th>
            <td class="text-muted"><i class="fas fa-utensils"></i> Lunch break</td>
            <td class="text-muted"><i class="fas fa-utensils"></i> Lunch break</td>
            <td class="text-muted"><i class="fas fa-utensils"></i> Lunch break</td>
            <td class="text-muted"><i class="fas fa-utensils"></i> Lunch break</td>
        </tr>
        <tr>
            <th scope="row" class="small">13:30&ndash;14:00</th>
            <td class="text-normal"><span class="wflp"><a href="https://us02web.zoom.us/j/83049802627?pwd=ZVpIOXpKaVRoQjQ0NDd0bkxWUDFBZz09" title="Join Zoom Meeting">W</a></span></td>
            <td class="text-normal"><span class="ppdp"><a href="https://us02web.zoom.us/j/86767609272?pwd=VG4wL3VFQ2phdnphUGRiaHhEbWVEdz09" title="Join Zoom Meeting">P</a></span> <span class="microservices"><a href="https://us02web.zoom.us/j/89239568074?pwd=N1B0RWJCMmJaQnlWRkhpSWhYbktiQT09" title="Join Zoom Meeting">M</a></span></td>
            <td class="text-normal"><span class="microservices"><a href="https://us02web.zoom.us/j/86014911483?pwd=WW1UWFRPaWF3VVc2c0RRdHBFam1Gdz09" title="Join Zoom Meeting">M</a></span></td>
            <td class="text-normal"><span class="microservices"><a href="https://us02web.zoom.us/j/85692687858?pwd=bDljemJ4aEZJYnJZRlVCTy8xd29PUT09" title="Join Zoom Meeting">M</a></span></td>
        </tr>
        <tr>
            <th scope="row" class="small">14:00&ndash;14:30</th>
            <td class="text-normal"><span class="lopstr"><a href="https://us02web.zoom.us/j/84882509637?pwd=d0VJeS9vR0dpc0FxZTZDUDgzcTlkdz09" title="Join Zoom Meeting">L</a></span> <span class="wflp"><a href="https://us02web.zoom.us/j/83049802627?pwd=ZVpIOXpKaVRoQjQ0NDd0bkxWUDFBZz09" title="Join Zoom Meeting">W</a></span></td>
            <td class="text-normal"><span class="lopstr"><a href="https://us02web.zoom.us/j/85366847417?pwd=dGN4RW12aDgvOHZjMzBTQlQrUGhEdz09" title="Join Zoom Meeting">L</a></span> <span class="ppdp"><a href="https://us02web.zoom.us/j/86767609272?pwd=VG4wL3VFQ2phdnphUGRiaHhEbWVEdz09" title="Join Zoom Meeting">P</a></span>                <span class="microservices"><a href="https://us02web.zoom.us/j/89239568074?pwd=N1B0RWJCMmJaQnlWRkhpSWhYbktiQT09" title="Join Zoom Meeting">M</a></span></td>
            <td class="text-normal"><span class="lopstr"><a href="https://us02web.zoom.us/j/83482470471?pwd=Y1NRVXdoSVVvcjYxRjV6K0NKYUlWQT09" title="Join Zoom Meeting">L</a></span> <span class="ppdp"><a href="https://us02web.zoom.us/j/81399935888?pwd=K01uaFQ5WWI1MHdSNUhkVjJhZWorUT09" title="Join Zoom Meeting">P</a></span>                <span class="microservices"><a href="https://us02web.zoom.us/j/86014911483?pwd=WW1UWFRPaWF3VVc2c0RRdHBFam1Gdz09" title="Join Zoom Meeting">M</a></span></td>
            <td class="text-normal"><span class="ppdp"><a href="https://us02web.zoom.us/j/88941123167?pwd=dDBnRS8vZVhtNkJ2aXB5MXdMNHhXZz09" title="Join Zoom Meeting">P</a></span> <span class="microservices"><a href="https://us02web.zoom.us/j/85692687858?pwd=bDljemJ4aEZJYnJZRlVCTy8xd29PUT09" title="Join Zoom Meeting">M</a></span></td>
        </tr>
        <tr>
            <th scope="row" class="small">14:30&ndash;15:00</th>
            <td class="text-normal"><span class="lopstr"><a href="https://us02web.zoom.us/j/84882509637?pwd=d0VJeS9vR0dpc0FxZTZDUDgzcTlkdz09" title="Join Zoom Meeting">L</a></span> <span class="wflp"><a href="https://us02web.zoom.us/j/83049802627?pwd=ZVpIOXpKaVRoQjQ0NDd0bkxWUDFBZz09" title="Join Zoom Meeting">W</a></span></td>
            <td class="text-normal"><span class="lopstr"><a href="https://us02web.zoom.us/j/85366847417?pwd=dGN4RW12aDgvOHZjMzBTQlQrUGhEdz09" title="Join Zoom Meeting">L</a></span> <span class="ppdp"><a href="https://us02web.zoom.us/j/86767609272?pwd=VG4wL3VFQ2phdnphUGRiaHhEbWVEdz09" title="Join Zoom Meeting">P</a></span>                <span class="microservices"><a href="https://us02web.zoom.us/j/89239568074?pwd=N1B0RWJCMmJaQnlWRkhpSWhYbktiQT09" title="Join Zoom Meeting">M</a></span></td>
            <td class="text-normal"><span class="lopstr"><a href="https://us02web.zoom.us/j/83482470471?pwd=Y1NRVXdoSVVvcjYxRjV6K0NKYUlWQT09" title="Join Zoom Meeting">L</a></span> <span class="ppdp"><a href="https://us02web.zoom.us/j/81399935888?pwd=K01uaFQ5WWI1MHdSNUhkVjJhZWorUT09" title="Join Zoom Meeting">P</a></span>                <span class="microservices"><a href="https://us02web.zoom.us/j/86014911483?pwd=WW1UWFRPaWF3VVc2c0RRdHBFam1Gdz09" title="Join Zoom Meeting">M</a></span></td>
            <td class="text-normal"><span class="ppdp"><a href="https://us02web.zoom.us/j/88941123167?pwd=dDBnRS8vZVhtNkJ2aXB5MXdMNHhXZz09" title="Join Zoom Meeting">P</a></span> <span class="microservices"><a href="https://us02web.zoom.us/j/85692687858?pwd=bDljemJ4aEZJYnJZRlVCTy8xd29PUT09" title="Join Zoom Meeting">M</a></span></td>
        </tr>
        <tr>
            <th scope="row" class="small">15:00&ndash;15:30</th>
            <td class="text-muted"><i class="fas fa-coffee"></i> Coffee break</td>
            <td class="text-muted"><i class="fas fa-coffee"></i> Coffee break</td>
            <td class="text-muted"><i class="fas fa-coffee"></i> Coffee break</td>
            <td class="text-muted"><i class="fas fa-coffee"></i> Coffee break</td>
        </tr>
        <tr>
            <th scope="row" class="small">15:30&ndash;16:00</th>
            <td class="text-normal"><span class="lopstr"><a href="https://us02web.zoom.us/j/84882509637?pwd=d0VJeS9vR0dpc0FxZTZDUDgzcTlkdz09" title="Join Zoom Meeting">L</a></span> <span class="wflp"><a href="https://us02web.zoom.us/j/83049802627?pwd=ZVpIOXpKaVRoQjQ0NDd0bkxWUDFBZz09" title="Join Zoom Meeting">W</a></span></td>
            <td rowspan="2"><span class="text-muted">
            <mark><i>Plenary talk of Prof. José Meseguer</i></mark> &mdash; 
            Symbolic Computation in Maude: Some Tapas</span>
                <br /><a class="small" href="https://us02web.zoom.us/j/87520565562?pwd=dVZsTDdsVG16NkJZUi9JeUFRTlk1Zz09">Join Zoom Meeting</a> • <a class="small" href="/assets/docs/BOPL-keynote.pdf"><i class="fas fa-file-pdf"></i> Slides</a>
            </td>
            <td class="text-normal"><span class="lopstr"><a href="https://us02web.zoom.us/j/83482470471?pwd=Y1NRVXdoSVVvcjYxRjV6K0NKYUlWQT09" title="Join Zoom Meeting">L</a></span> <span class="ppdp"><a href="https://us02web.zoom.us/j/81399935888?pwd=K01uaFQ5WWI1MHdSNUhkVjJhZWorUT09" title="Join Zoom Meeting">P</a></span>                <span class="microservices"><a href="https://us02web.zoom.us/j/86014911483?pwd=WW1UWFRPaWF3VVc2c0RRdHBFam1Gdz09" title="Join Zoom Meeting">M</a></span></td>
            <td class="text-normal"><span class="ppdp"><a href="https://us02web.zoom.us/j/88941123167?pwd=dDBnRS8vZVhtNkJ2aXB5MXdMNHhXZz09" title="Join Zoom Meeting">P</a></span> <span class="microservices"><a href="https://us02web.zoom.us/j/85692687858?pwd=bDljemJ4aEZJYnJZRlVCTy8xd29PUT09" title="Join Zoom Meeting">M</a></span></td>
        </tr>
        <tr>
            <th scope="row" class="small">16:00&ndash;16:30</th>
            <td class="text-normal"><span class="lopstr"><a href="https://us02web.zoom.us/j/84882509637?pwd=d0VJeS9vR0dpc0FxZTZDUDgzcTlkdz09" title="Join Zoom Meeting">L</a></span> <span class="wflp"><a href="https://us02web.zoom.us/j/83049802627?pwd=ZVpIOXpKaVRoQjQ0NDd0bkxWUDFBZz09" title="Join Zoom Meeting">W</a></span></td>
            <!-- <td><span class="text-muted"><mark><i>Plenary talk of Prof. José Meseguer</i></mark> &mdash; Symbolic Computation in Maude: Some Tapas</span><br /><a class="small" href="https://us02web.zoom.us/j/87520565562">Join Zoom Meeting</a></td> -->
            <td class="text-normal"><span class="lopstr"><a href="https://us02web.zoom.us/j/83482470471?pwd=Y1NRVXdoSVVvcjYxRjV6K0NKYUlWQT09" title="Join Zoom Meeting">L</a></span> <span class="ppdp"><a href="https://us02web.zoom.us/j/81399935888?pwd=K01uaFQ5WWI1MHdSNUhkVjJhZWorUT09" title="Join Zoom Meeting">P</a></span>                <span class="microservices"><a href="https://us02web.zoom.us/j/86014911483?pwd=WW1UWFRPaWF3VVc2c0RRdHBFam1Gdz09" title="Join Zoom Meeting">M</a></span></td>
            <td class="text-normal"><span class="ppdp"><a href="https://us02web.zoom.us/j/88941123167?pwd=dDBnRS8vZVhtNkJ2aXB5MXdMNHhXZz09" title="Join Zoom Meeting">P</a></span> <span class="microservices"><a href="https://us02web.zoom.us/j/85692687858?pwd=bDljemJ4aEZJYnJZRlVCTy8xd29PUT09" title="Join Zoom Meeting">M</a></span></td>
        </tr>
        <tr>
            <th scope="row" class="small">16:30&ndash;17:00</th>
            <td class="text-muted"><i class="fas fa-mug-hot"></i> Tea break</td>
            <td class="text-muted"><i class="fas fa-mug-hot"></i> Tea break</td>
            <td class="text-muted"><i class="fas fa-mug-hot"></i> Tea break</td>
            <td class="text-info"><strong>Closing</strong><br /><a class="small" href="https://us02web.zoom.us/j/84826681922?pwd=N2RVc2JJU0RiTnNBTW5ldmJpODZtQT09">Join Zoom Meeting</a></td>
        </tr>
        <tr>
            <th scope="row" class="small">17:00&ndash;17:30</th>
            <td class="text-normal"><span class="lopstr"><a href="https://us02web.zoom.us/j/84882509637?pwd=d0VJeS9vR0dpc0FxZTZDUDgzcTlkdz09" title="Join Zoom Meeting">L</a></span> <span class="wflp"><a href="https://us02web.zoom.us/j/83049802627?pwd=ZVpIOXpKaVRoQjQ0NDd0bkxWUDFBZz09" title="Join Zoom Meeting">W</a></span></td>
            <td class="text-normal"><span class="microservices"><a href="https://us02web.zoom.us/j/89239568074?pwd=N1B0RWJCMmJaQnlWRkhpSWhYbktiQT09" title="Join Zoom Meeting">M</a></span></td>
            <td>
                <span class="text-muted">
            <mark><i>
            Industrial session
            </i>
            </mark>
            <small>
            <br />
            <a href="/industrial-session.html#pmi">
            Talk by Corrado Iorizzo, Philip Morris International
            </a>
            <br />
            <a href="https://us02web.zoom.us/j/81483955846?pwd=d1NYZHZNUngvbHN2OGFDaE5wZWxZUT09">Join Zoom Meeting</a>
            </small>
            </span>
            </td>
            <td></td>
        </tr>
        <tr>
            <th scope="row" class="small">17:30&ndash;18:00</th>
            <td class="text-normal"><span class="lopstr"><a href="https://us02web.zoom.us/j/84882509637?pwd=d0VJeS9vR0dpc0FxZTZDUDgzcTlkdz09" title="Join Zoom Meeting">L</a></span> <span class="wflp"><a href="https://us02web.zoom.us/j/83049802627?pwd=ZVpIOXpKaVRoQjQ0NDd0bkxWUDFBZz09" title="Join Zoom Meeting">W</a></span></td>
            <td class="text-normal"><span class="microservices"><a href="https://us02web.zoom.us/j/89239568074?pwd=N1B0RWJCMmJaQnlWRkhpSWhYbktiQT09" title="Join Zoom Meeting">M</a></span></td>
            <td>
                <span class="text-muted">
            <mark><i>
            Industrial session
            </i>
            </mark>
            <small>
            <br />
            <a href="/industrial-session.html#injenia">
            Talk by Luca Paganelli, Injenia Srl
            </a>
            <br />
            <a href="https://us02web.zoom.us/j/81483955846?pwd=d1NYZHZNUngvbHN2OGFDaE5wZWxZUT09">Join Zoom Meeting</a>
            </small>
            </span>
            </td>
            <td></td>
        </tr>
    </tbody>
</table>